.contacts-profile{
    padding: 25px 30px;
    max-height: 150px;
    background-color: var(--dark-blue);
    border-bottom: 1px solid var(--white);
    display: flex;
}

.contacts-profile:hover, .contacts-profile:focus{
    background-color: var(--blue);
}

.contacts-profile .avatar{
    margin-right: 25px;
    
}

.contacts-profile .img-box{
    position: relative;
}

.contacts-name{
    color: var(--white);
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    margin: 0;
}

.contacts-status{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color:var(--green);
    bottom: 0;
    right: 0;
    border-radius: 50vw;
    transform: translate(-25px, 0);
}