.input-messages {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-messages-wrapper {
    padding: 25px 0;
    max-width: 1100px;
    width: 100%;
}

.input-box {
    width: 100%;
    position: relative;
    display: flex;
    position: relative;
}

.input {
    width: 100%;
    border: none;
    border-radius: 50vw;
    outline: none;
    background-color: var(--dark-blue);
    padding: 17px 25px;
    color: var(--white);
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.input:focus {
    color: var(--white);
}

.send-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border: none;
    text-align: center;
    background-color: var(--clear);
    border-radius: 50vw;
    cursor: pointer;
    transform: translate(-25px, 0);
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 27.7H20C18.0109 27.7 16.1032 28.4902 14.6967 29.8967C13.2902 31.3032 12.5 33.2109 12.5 35.2V47.7C12.5 49.6891 13.2902 51.5968 14.6967 53.0033C16.1032 54.4098 18.0109 55.2 20 55.2H40C41.9891 55.2 43.8968 54.4098 45.3033 53.0033C46.7098 51.5968 47.5 49.6891 47.5 47.7V35.2C47.5 33.2109 46.7098 31.3032 45.3033 29.8967C43.8968 28.4902 41.9891 27.7 40 27.7V27.7ZM38.95 32.7L31.75 40C31.2827 40.4581 30.6544 40.7147 30 40.7147C29.3456 40.7147 28.7173 40.4581 28.25 40L21.05 32.7H38.95ZM42.5 47.7C42.5 48.3631 42.2366 48.9989 41.7678 49.4678C41.2989 49.9366 40.663 50.2 40 50.2H20C19.337 50.2 18.7011 49.9366 18.2322 49.4678C17.7634 48.9989 17.5 48.3631 17.5 47.7V36.225L24.7 43.425C26.1063 44.8295 28.0125 45.6184 30 45.6184C31.9875 45.6184 33.8937 44.8295 35.3 43.425L42.5 36.225V47.7ZM26.775 14.05L27.5 13.325V20.2C27.5 20.8631 27.7634 21.4989 28.2322 21.9678C28.7011 22.4366 29.337 22.7 30 22.7C30.663 22.7 31.2989 22.4366 31.7678 21.9678C32.2366 21.4989 32.5 20.8631 32.5 20.2V13.325L33.225 14.05C33.4565 14.2831 33.7316 14.4683 34.0346 14.5951C34.3376 14.7219 34.6627 14.7877 34.9912 14.7889C35.3196 14.7901 35.6451 14.7265 35.9491 14.6019C36.253 14.4772 36.5294 14.294 36.7625 14.0625C36.9956 13.8311 37.1808 13.556 37.3076 13.2529C37.4344 12.9499 37.5002 12.6248 37.5014 12.2964C37.5026 11.9679 37.439 11.6424 37.3144 11.3384C37.1897 11.0345 37.0065 10.7581 36.775 10.525L31.775 5.52502C31.5426 5.2907 31.2661 5.10471 30.9614 4.97779C30.6568 4.85087 30.33 4.78552 30 4.78552C29.67 4.78552 29.3432 4.85087 29.0386 4.97779C28.7339 5.10471 28.4574 5.2907 28.225 5.52502L23.225 10.525C22.7594 10.9934 22.498 11.6271 22.498 12.2875C22.498 12.948 22.7594 13.5816 23.225 14.05C23.4574 14.2843 23.7339 14.4703 24.0386 14.5972C24.3432 14.7242 24.67 14.7895 25 14.7895C25.33 14.7895 25.6568 14.7242 25.9614 14.5972C26.2661 14.4703 26.5426 14.2843 26.775 14.05V14.05Z' fill='white'/%3E%3C/svg%3E%0A");
}