@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --fam-fam: 'Inter', sans-serif;
  --white: #fff;
  --dark-blue: #16161D;
  --blue: #1D1B26;
  --green: #80E220;
  --clear: rgba(255, 255, 255, 0);
}

body{
  font-family: var(--fam-fam);
}

.avatar {
  max-width: 100px;
  width: 100%;
  height: auto;
  border-radius: 50vw;
  position: relative;
}

.user-status {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color:var(--green);
  bottom: 0;
  right: 0;
  border-radius: 50vw;
}

.UserName {
  font-family: var(--fam-fam);
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: var(--white);
}